@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Audit : Scorecard</h1>
    <p class="lead">
        In hac habitasse platea dictumst. Ut tristique, purus vitae egestas hendrerit, tellus elit luctus lacus.
        Sed eu pellentesque sapien, a finibus eros. Nunc ut ultricies augue.
    </p>

    @Html.Partial("~/Views/Auth/Login.cshtml")

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sucess Stories</h2>
        <p>
            Nullam erat dolor, ullamcorper et nisi nec, porta portitor nisi. Quisque lobortis sem ut facilisis mattis.
            Sed eu pellentesque sapien, a finibus eros. Nunc ut ultricies augue.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <p>Nullam erat dolor, ullamcorper et nisi nec, porta portitor nisi. Quisque lobortis sem ut facilisis mattis. </p>

    </div>
    <div class="col-md-4">
        <h2>Upcoming Events</h2>
        <p>
            Mauris sagittis dui arcu, sed luctus metus faucibus nec. Sed vulputate ipsum massa, ut dapibus purus volutpat vel.
            Interdum et malesuada fames ac ante
        </p>
    </div>
</div>